<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>form</title>
</head>
<body>
    <header>
        <h1>Jokes about us(Programmers XD)</h1>
        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="/loadfav">Favorite Jokes</a></li>
            <li><a href="/random">Random Joke</a></li>
        </ul>
    </header>
    <section id="container">
        <%  joke.forEach((ele)=>{%>
              <div>
                  <h3><%ele.type%></h3>
                  <h4><%=ele.setup%></h4>
                  <p><%=ele.punchline%></p>
                  <form action="/delet/<%=ele.id%>?_method=delete" method="post">
                <input id="btn" type="submit" value="Delete">
                </form>
                  <form action="/updatejoke/<%=ele.id%>?_method=put" method="post">
                  <input type="text" name="type" value="<%=ele.type%>">
                  <input type="text" name="setup" value="<%=ele.setup%>">
                  <input type="text" name="punchline" value="<%=ele.punchline%>">
                  <input id="btn" type="submit" value="UPDATE">
                  </form>
              </div>
         <% })%>
      </section>
</body>
</html>